<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
      <meta charset="UTF-8">
      <title>Datos de movimientos</title>
</head>
<body>
    <header th:replace="layout/plantilla :: header"></header>
    <h2>Datos de movimientos</h2>
    <form th:action="@{/movimientos/guardar}" method="post">
          <label for="movimientoDinero">Monto Dinero</label>
          <input type="text" name="movimientoDinero" th:field="*{movimientoDinero}"/>
          <br>
          <label for="concepto">Concepto</label>
          <input type="text" name="concepto" th:field="*{concepto}"/>
          <br>
          <input type="submit" name="guardar" value="Guardar">
    </form>
</body>
</html>