<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Lista de Empleados</title>
</head>
<body>
    <header th:replace="layout/plantilla :: header"></header>
    <h2>Lista de Empleados</h2>
    <a th:href="@{/}">Home</a>
    <br>
    <a th:href="@{/empleados/crear}">Nuevo empleado</a>
    <br>
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        <tr th:each="empleado:${empleados}">
            <td th:text="${empleado.nombre}"></td>
            <td><a th:href="@{/editar/}+${empleado.idEmpleado}"th:text="Editar"></a></td>
            <td><a th:href="@{/eliminar/}+${empleado.idEmpleado}"th:text="Eliminar"></a></td>
        </tr>
</table>
</body>
</html>