<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Datos de empleado</title>
</head>
<body>
    <header th:replace="layout/plantilla :: header"></header>
    <h2>Datos de empleado</h2>
    <form th:action="@{/empleados/guardar}" method="post" th:object="${empleado}">
        <label for="idEmpleado">idEmpleado</label>
        <input type="text" name="idEmpleado" th:field="*{idEmpleado}"/>
        <br>
        <label for="documento">Documento</label>
        <input type="text" name="documento" th:field="*{documento}"/>
        <br>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" th:field="*{nombre}"/>
        <br>
        <label for="correo">Correo</label>
        <input type="email" name="correo" th:field="*{correo}"/>
        <br>
        <label for="empresa">Empresa</label>
        <input type="text" name="empresa" th:field="*{empresa}"/>
        <br>
        <label for="rol">Rol</label>
        <select th:field="*{rol}" name="rol">
            <option value="" selected>Seleccione rol</option>
            <option th:each="rol:${T(com.example.AplicativoWeb.Entidades.Rol).values()}"
                    th:value="${rol}"
                    th:text="${rol}"
            ></option>
        </select>
        <br>
        <input type="submit" name="guardar" value="Guardar">
    </form>
</body>
</html>