<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
  <meta charset="UTF-8">
  <title>Lista de Empresas</title>
</head>
<body>
<header th:replace="layout/plantilla :: header"></header>
<h2>Lista de Empresas</h2>
<a th:href="@{/}">Home</a>
<br>
<a th:href="@{/empresas/crear}">Nueva empresa</a>
<br>
<table border="1">
  <tr>
    <th>Nombre</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </tr>
  <tr th:each="empresa:${empresas}">
    <td th:text="${empresa.nombre}"></td>
    <td><a th:href="@{/editar/}+${empresa.idEmpresa}"th:text="Editar"></a></td>
    <td><a th:href="@{/eliminar/}+${empresa.idEmpresa}"th:text="Eliminar"></a></td>
  </tr>
</table>
</body>
</html>