<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AgregarEmpresa</title>
</head>
<body>
    <form th:action="@{/enterprise}" method="post">

        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" th:field="${enterprise.nombre}">

        <label for="direccion">Direccion</label>
        <input type="text" id="direccion" th:field="${enterprise.direccion}">

        <label for="nit">Nit</label>
        <input type="number" id="nit" th:field="${enterprise.nit}">

        <label for="telefono">Telefono</label>
        <input type="number" id="telefono" th:field="${enterprise.telefono}">

        <input type="submit" value="AgregarEmpresa">

    </form>
</body>
</html>