<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Empleados
    <table>
        <tr>
            #columnas
            <th>Nombre</th>
            <th>Correo</th>
            <th>Empresa</th>
            <th>Rol</th>
        </tr>
        <tr th:each="employee : ${employees}">
            #filas
            <td th:text="${employee.nombre}"></td>
            <td th:text="${employee.correo}"></td>
            <td th:text="${employee.empresa}"></td>
            <td th:text="${employee.rol}"></td>

        </tr>

    </table>
</body>
</html>