<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Empresa</title>
</head>
<body>
    listado empresas
    <table>
        <tr>
            #columnas
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Nit</th>
            <th>Telefono</th>
            <th>Borrar</th>
        </tr>
        <tr th:each="empresa : ${empresas}">
            #filas
            <td th:text="${empresa.nombre}"></td>
            <td th:text="${empresa.direccion}"></td>
            <td th:text="${empresa.nit}"></td>
            <td th:number="${empresa.telefono}"></td>
            <td><a th:href="@{/empresa/borrar/{id} (id = ${empresa.id}})">Borrar</a></td>

        </tr>
        <a href="/agregarEmpresa">Agregar una nueva Empresa</a>

    </table>
</body>
</html>