<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- comentarios -->
  <meta charset="UTF-8">
  <title>Inicio</title>
</head>
<body>
<header th:replace="layout/plantilla :: header"></header>
<h2>Menu</h2>
<p th:text="${mensaje}"></p>
<a th:href="@{/empleados/list}">Sistema de gestion de Empleados</a>
<br>
<a th:href="@{/empresas/list}">Sistema de gestion de Empresas</a>
<br>
<a th:href="@{/movimientos/list}">Sistema de gestion de Movimientos</a>
<br>
<footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>